<nav class="results">
  <img src="/img/google.png" alt="Google logo" />
  <form action="/results">
    <input type="text" name="searchBox" placeholder="search for anything"/>
    <button>Search</button>
  </form>
</nav>
