    <div class="search">
      <img class="logo" src="/img/google.png" alt="Google logo" />
      <br />
			<form action="/results" class="" method="post">


      <input type="text" name="searchBox" placeholder="" />
      <button>Search</button>
			<!-- <h1>Hello {{user}}</h1> -->
			</form>
    </div>
